*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
   
    background-image: url(menusushi.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;

}

header{  
    width: 100%;
    height: 20%;

}
.ul1{
    font-size: larger ;
    justify-content: center;
    gap: 0 35px;
    align-self: center;
    font-size: 17px;
    position: absolute;
    display: flex;
    right: 5%;
    bottom:90%;
    
}
.cc{
    background-image: linear-gradient(rgb(236, 236, 236), rgb(201, 202, 202));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px ;
}
.cc:hover{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
.li1{
    list-style: none;
}
.li1:hover{
    background-image: linear-gradient(rgb(237, 136, 231),rgb(255, 255, 255));;
    border-radius: 30px;
    position: relative;
    
    text-align: center;
    top: 5%;
    width: 80px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
             
}

b,i,h1{
    font-size: 70px;
    background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.dev{
    text-decoration: none;
    color: white;
    font-size: 100px;
    background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.li2{
    position: relative;
    color: white;
    font-size: x-large;
    right: 40%;
    width: 90%;
}
.a1{
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 236, 236), rgb(201, 202, 202));
    text-decoration: none;
    font-size: 70px;
    background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

     
}
.a1:hover{
    background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
    font-size: 100px ;
}

.salade{
    height: 70%;
    width: 30%;
    gap: 0 35px;
    position: absolute; 
    left: 2%;
    top: 20%;
}
.sushi{
    height: 70%;
    width: 30%;
    
    gap: 0 35px;
    position: absolute; 
    left: 35%;
    top: 20%;
}
.nouilles{
    height: 70%;
    width: 29%;

    gap: 0 35px;
    position: absolute; 
    left: 69%;
    top: 20%;
}
.b2{
    font-size: 50px;
    background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 38%;
}
.b3{
    font-size: 50px;
    background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 35%;
}
b:hover{
    font-size: 55px;
}
.b1{
    font-size: 50px;
    background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 8%;
   
}
.imgsushi{
    width: 73%;
    border-radius: 30px;
    position: absolute;
    top: 20%;
    left: 20%;
}
.imgsalade{
    width: 100%;
    border-radius: 30px;
    position: absolute;
    top: 20%;
    left: 5%;
}
#a2{
    background-image: linear-gradient(rgb(236, 236, 236), rgb(201, 202, 202));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px ;
   
}
.imgnoodl{
    width: 73%;
    border-radius: 30px;
    position: absolute;
    top: 20%;
    left: 20%;
}
#a2:hover{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    position: relative;
}
.page-item{
    list-style: none;
}
.page-item:hover{
    background-image: linear-gradient(rgb(237, 136, 231),rgb(255, 255, 255));;
    
    color: black;
}

footer{
    height: 5%;
    width: 20%;
    position: absolute;
    top: 90%;
    left: 45%;
}
.bg3{
   
    width: 0.00001%;
    height: 0.0000000001%;
}
.bg4{
    width: 0.00001%;
    height: 0.0000000001%;
   
}
.bg2{
    width: 0.00001%;
    height: 0.0000000001%;
}



@media screen and (min-width:320px) and (max-width:1242px) 
 {
    body{
   
        background-image: url(menusushi.jpg);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
    
    }
    
    header{  
        width: 100%;
        height: 20%;
    
    }
    .ul1{
        justify-content: center;
        gap: 0 35px;
        align-self: center;
        font-size: 10px;
        position: absolute;
        display: flex;
        left: 10%;
        bottom:94%;
        width: 90%;
        
        
    }
    .cc{
        background-image: linear-gradient(rgb(236, 236, 236), rgb(201, 202, 202));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-decoration: none;
        font-family: cursive;
        font-size: 15px ;
        position: relative;
        
    }
    .cc:hover{
        background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    }
    .li1{
        list-style: none;
    }
    .li1:hover{
        background-image: linear-gradient(rgb(98, 0, 0),rgb(255, 255, 255));;
        border-radius: 30px;
        position: relative;
        
        text-align: center;
        top: 5%;
        width: 80px;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 100%;
                 
    }
    
    b,i,h1{
        font-size: 50px;
        background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    
    }
    .dev{
        text-decoration: none;
        color: white;
        font-size: 100px;
        background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    
    }
    
    .li2{
        position: relative;
        color: white;
        font-size: x-large;
        right: 40%;
        width: 90%;
    }
    .a1{
        text-decoration: none;
        background-image: linear-gradient(rgb(236, 236, 236), rgb(201, 202, 202));
        text-decoration: none;
        font-size: 70px;
        background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    
         
    }
    .a1:hover{
        background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-decoration: none;
        font-size: 100px ;
    }
    
    .salade{
        height: 40%;
        width: 80%;
        gap: 0 35px;
        position: absolute; 
        left: 2%;
        top: 10%;
    }
    .sushi{
        width: 100%;
        gap: 0 35px;
        position: absolute; 
        left: -10%;
        top: 75%;
    }
    .sushi4{
        position: inherit;
        left: 20%;
   
       
    }
    .nouilles{
        height: 40%;
        width: 100%;
        position: absolute; 
        top: 125%;
        left: -3%;
    }
    .b2{
        font-size: 40px;
        background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        position: absolute;
        left: 0%;
        top: -25%;
        width: 100%;
        text-align: center;
    }
    .b3{
        font-size: 40px;
        background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        position: absolute;
       
    
    }
    b:hover{
        font-size: 45px;
    }
    .b1{
        font-size: 40px;
        background-image: linear-gradient(rgb(110, 16, 16),rgb(255, 255, 255));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        position: absolute;
        left: 20%;
        width: 100%;
        
       
    }
    .imgsushi{
        width: 80%;
        border-radius: 30px;
        position: relative;
        top: 80%;
        left: 10%;
        
    }
    .imgsalade{
        width: 100%;
        border-radius: 30px;
        position: absolute;
        top: 25%;
        left: 10%;
    }
    #a2{
        background-image: linear-gradient(rgb(236, 236, 236), rgb(201, 202, 202));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-decoration: none;
        font-family: cursive;
        font-size: 20px ;
       
    }
    #a2:hover{
        background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
        position: relative;
    }
    .page-item{
        list-style: none;
    }
    .page-item:hover{
        background-image: linear-gradient(rgb(98, 0, 0),rgb(255, 255, 255));;
        
        color: black;
    }
    
    footer{
        height: 5%;
        width: 20%;
        position: absolute;
        top: 185%;
        left: 35%;
    
    }
    .imgnoodl{
        width: 70%;
        border-radius: 30px;
        position: relative;
     
        
    }
    .bg3{
        margin-top: -31%;
        width: 100%;
        height: 100%;
    }
    .bg4{
        width: 100%;
        height: 90%;
        margin-top: -31%;
    }
    .bg2{
        height: 100%;
        width: 100%;
    }
    
    .menu{
       margin-top: 50%;
       height: 100%;
       width: 100%;
    }
    
}
